In [34]:
import pandas as pd

print(pd.__version__)

2.0.3

In [54]:
data = {'nama': ['bayu', 'indra', 'devi', 'agni'],
        'jenis_kelamin': ['L', 'L', 'P', 'L'],
        'usia': [23, 21, 22, 25]}

df = pd.DataFrame(data)
df

    nama jenis_kelamin  usia
0   bayu             L    23
1  indra             L    21
2   devi             P    22
3   agni             L    25

In [55]:
df['nama'].str.cat(df['jenis_kelamin'],sep=',').to_frame()

      nama
0   bayu,L
1  indra,L
2   devi,P
3   agni,L

In [56]:
df['nama_jk']=df['nama'].str.cat(df['jenis_kelamin'],sep=',')
df

    nama jenis_kelamin  usia  nama_jk
0   bayu             L    23   bayu,L
1  indra             L    21  indra,L
2   devi             P    22   devi,P
3   agni             L    25   agni,L

In [57]:
df['nama'].str.cat(df['usia'].astype('str'),sep='-').to_frame()

       nama
0   bayu-23
1  indra-21
2   devi-22
3   agni-25

In [59]:
df['nama_usia'] = df['nama'].str.cat(df['usia'].astype('str'), sep='-').to_frame()
df

    nama jenis_kelamin  usia  nama_jk nama_usia
0   bayu             L    23   bayu,L   bayu-23
1  indra             L    21  indra,L  indra-21
2   devi             P    22   devi,P   devi-22
3   agni             L    25   agni,L   agni-25

In [65]:
df['name'].str.cat(df['jenis_kelamin'], sep=', ').to_frame()

KeyError: 'name'

In [64]:
df['total_omset']=df.groupby('kopi')['harga'].transform(sum)
df

KeyError: 'kopi'